h1 {
  font: bold 2.2rem/0.9 'Open Sans Condensed', sans-serif;
}

p {
  /* cssnano-ignore-line */
  font-family: 'Helvetica Neue', Arial, sans-serif, Helvetica;
  font-weight: normal;
}

h1 {
  /* cssnano-ignore-line */
  transform: rotate3d(0, 0, 1, 20deg);
}

/* CSSNANO OUTPUT

h1{
    font:700 2.2rem/.9 Open Sans Condensed,sans-serif
}
p{
    font-family:Helvetica Neue,Arial,sans-serif,Helvetica;
    font-weight:400
}
h1{
    transform:rotate(20deg)
}

*/
