@media screen and (min-width: 900px) {
  /* postcss-ignore */
  article {
    display: flex;
  }
}

@media screen and (min-width: 900px) {
  body {
    padding: 1rem 3rem;
  }
}

/* postcss-ignore */
@document url("https://www.example.com/") {
  h1 {
    color: green;
  }
}

@media screen and (min-width: 900px) {
  html {
    /* postcss-ignore */
    padding: 1rem 3rem;
  }
}
