@custom-media --viewport-medium (max-width: 50rem);
@custom-selector :--heading h1, h2, h3, h4, h5, h6;

:root {
  --mainColor: rgba(18,52,86,0.47059);
  --mainColor2: #123453;
}

body {
  color: rgba(18,52,86,0.47059);
  color: var(--mainColor);
  font-family: system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif;
  word-wrap: break-word;
}

:--heading {
  background-image: 
    url(img/heading.png)
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi){

:--heading {
  background-image: 
    url(img/heading@2x.png)
}
}

:--heading {
  background-image: -webkit-image-set(
    url(img/heading.png) 1x,
    url(img/heading@2x.png) 2x
  );
  background-image: image-set(
    url(img/heading.png) 1x,
    url(img/heading@2x.png) 2x
  );

  @media (--viewport-medium) {
    margin-top: 0;
    margin-bottom: 0;
  }
}

a {
  color: rgb(0 0 100% / 90%);

  &:hover {
    color: #639;
  }
}
